/*font face*/
@font-face {
    font-family: 'Armarialbold';
    src: url('../font/armarial-font/Armarialbold.woff2') format('woff2'),
        url('../font/armarial-font/Armarialbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*style*/
html body {
	font-family: 'Armarialbold';
}

body {
	overflow: hidden;
}

.bg-img {
	width: 100%;
	height: 100%;
	background-image: url(../img/bg2.png);
	filter: blur(3px);
	position: absolute;
	z-index: -999px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.judul {
	color: #F2F3F4;
	font-size: 70px;
	margin-top: 20px;
	text-align: center;
	text-shadow: 2px 2px 2px black;
	position: relative;
	z-index: 1;
}

.container {
	width: 1100px;
	height: 500px;
	margin: 0 auto;
	margin-top: 25px;
	position: relative;
}

.area-player {
	width: 545px;
	height: 500px;
	border-radius: 50px 0 0 50px;
	background-image: linear-gradient(to left, #5AFF15, #00B712);
}

ul li {
	display: block;
}

li img {
	box-sizing: border-box;
	width: 140px;
	height: 140px;
	margin-top: 20px;
	margin-left: 185px;
	border-radius: 50%;
	border: 5px solid darkgrey;
	transition: .3s;
	position: relative;
}

li img:hover {
	box-shadow: 0 0 50px 5px salmon;
}

li img:active {
	top: 2px;
}

.area-computer {
	width: 545px;
	height: 500px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 50px 50px 0;
	background-image: linear-gradient(to left, #fa8072, #ffa07a);
}

.area-computer img {
	width: 300px;
	height: 300px;
	margin-top: 100px;
	margin-left: 130px;
	border-radius: 50%;
	border: 5px solid darkgrey;
	box-sizing: border-box;
}

.area-computer p {
	color: #444444;
	/*margin-top: -400px;*/
	margin-left: 410px;
	margin-top: -380px;
	width: 110px;
	height: 30px;
	background-color: white;
	text-align: center;
	line-height: 25px;
	border-radius: 10px;
}

.info {
	width: 300px;
	height: 60px;
	background-color: whitesmoke;
	position: absolute;
	top: 0;
	left: 400px;
	border-radius: 50px;
	border: 5px solid darkgrey;
	text-transform: uppercase;
	color: #444444;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
}

.score {
	color: #444444;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
}

.scr-p {
	width: 65px;
	height: 65px;
	background-color: white;
	position: absolute;
	top: 80px;
	left: 470px;
	border-radius: 10px;
}

.scr-c {
	width: 65px;
	height: 65px;
	background-color: white;
	position: absolute;
	top: 80px;
	right: 470px;
	border-radius: 10px;
}

.reset {
	width: 100px;
	height: 40px;
	background-color: white;
	position: absolute;
	bottom: 5px;
	left: 500px;
	border-radius: 10px;
	border: 5px solid darkgrey;
	box-sizing: border-box;
	text-transform: uppercase;
	color: #444;
	text-align: center;
	line-height: 30px;
	transition: .3s;
	cursor: pointer;
}

.reset:hover {
	transform: scale(1.25);
}

.reset:active {
	color: red;
	transition: .1s;
}

/*confetti effect*/
#my-canvas {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1;
	display: none;
}

.pemenang {
	width: 800px;
	height: 500px;
	background-color: white;
	position: absolute;
	z-index: 99999;
	top: 75px;
	left: 290px;
	border-radius: 10px;
	border: 5px solid darkgrey;
	box-sizing: border-box;
	color: #444;
	font-size: 80px;
	text-align: center;
	display: none;
	text-transform: uppercase;
	animation: fadeIn .3s;
}

.pemenang p {
	margin-top: 30px;
}

.pemenang .p2 {
	margin-top: 30px;
	font-size: 40px;
}

.pemenang .close {
	width: 150px;
	height: 50px;
	background-image: linear-gradient(to bottom, #eb3349, #f45c43);
	margin: 80px auto 0;
	border-radius: 10px;
	border: 5px solid black;
	box-sizing: border-box;
	color: white;
	font-size: 30px;
	line-height: 35px;
	cursor: pointer;
}


/*animasi*/ 
/*animasi fade in*/ 
@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
