@font-face {
    font-family: 'Armarialbold';
    src: url('Armarialbold.woff2') format('woff2'),
        url('Armarialbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

